<!-- Users lists -->
<div class="content_box">

  <!-- Da attivare -->
  <div>
    <div class="list-title-container">
      <h3 class="list-title">Da attivare:</h3>
    </div>

    <div *ngIf="disabledUsersList.length === 0" class="no-users">
      Non ci sono nuovi utenti da attivare
    </div>

    <table *ngIf="disabledUsersList.length > 0" mat-table [dataSource]="disabledUsersList" class="mat-elevation-z1">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="border-radius: 5px 0 0 0"> Nome </th>
        <td mat-cell *matCellDef="let user" class="capitalize"> {{ user.first_name }} {{user.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Ruolo </th>
        <td mat-cell *matCellDef="let user">
          <select [(ngModel)]="user.user_role_name">
            <option value="" disabled hidden>Scegli Tipo di Contratto</option>
            <option *ngFor="let role of rolesList" [value]="role.user_role_name">
              {{ role.user_role_name }}
            </option>
          </select>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let user" style="color: rgb(142, 146, 148);">
          <span class="disabled-span">
            Inattivo
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="enable">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let user">
          <button class="btn enable-button" (click)="enableUser(user)">
            Attiva
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button class="delete-btn" (click)="openConfirmDialog()">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="disabledDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: disabledDisplayedColumns;"></tr>
    </table>
  </div>

  <!-- Attivi -->
  <div>
    <div class="list-title-container">
      <h3 class="list-title">Attivi</h3>
    </div>

    <table mat-table [dataSource]="enabledUsersList" class="mat-elevation-z1">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="border-radius: 5px 0 0 0"> Nome</th>
        <td mat-cell *matCellDef="let user" class="capitalize"> {{ user.first_name }} {{user.last_name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Ruolo </th>
        <td mat-cell *matCellDef="let user">
          <div style="width: 100%; display: flex; justify-content: center; align-items: center;">

            <span class="role-chip" [ngClass]="user.user_role_name ? user.user_role_name.toLowerCase() : 'default'">
              {{ user.user_role_name }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let user">
          <span class="enabled-span">
            Attivo
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="disable">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let user">
          <button class="btn disable-button" (click)="disableUser(user.id)">Disattiva</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let user">

          <button mat-icon-button class="delete-btn" (click)="openConfirmDialog()">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="enabledDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: enabledDisplayedColumns;"></tr>
    </table>
  </div>
</div>