.modal-skills-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }
}

.skill-form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.error-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 40%;
  span {
    width: 93%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 13px;
    background-color: #dd05545d;
    color: #74042d;
    padding: 1px 5px;
    border-radius: 3px;
  }
}

.skill-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h3 {
    margin-bottom: 30px;
    text-align: center;
  }
  h4 {
    margin-bottom: 10px;
  }
  div {
    display: flex;
    flex-direction: column;
    //width: 32%;
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      padding: 7px 5px 7px 2px;
      border: 1px solid rgba(128, 128, 128, 0.5294117647);
      border-radius: 5px;
    }
    select {
      width: 100%;
      padding: 7px 5px 7px 2px;
      border: 1px solid rgba(128, 128, 128, 0.5294117647);
      border-radius: 5px;
    }
  }
}
