<main>
  <button class="back-button">
    <img src="../../../../../../assets/arrow-back.png" alt="back-button" (click)="navigateBack()">
  </button>
  <div class="timeline-card">
    <div class="header">
      <div class="circle">
        <!--
          <img src={{randomImg}} alt="">
          -->
        <span>
          {{slicedName}}{{slicedSurname}}
        </span>

      </div>
    </div>
    <div class="clipped">
      <div class="anagraphic">
        <!--Anagraphic Data-->
        <h5>Anagrafica</h5>
        <div class="icon-data-container">
          <div class="icon-data">
            <!--Name-->
            <div class="icon-bg">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
            <p><span>Nome:</span> {{employee.first_name}} {{employee.last_name}}</p>
          </div>
          <!--Age-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div>
            <p><span>Età:</span> {{employeeAge}}</p>
          </div>
          <!--Phone-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-phone" aria-hidden="true" style="font-size: 20px;"></i>
            </div>
            <p><span>Cellulare:</span> {{employee.phone}}</p>
          </div>
          <!--Email-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <p><span>Email:</span> {{employee.email}}</p>
          </div>
          <!--Seniority-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <p><span>Seniority:</span> {{employee.seniority}}</p>
          </div>
          <!--Has vehicle-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-car" aria-hidden="true"></i>
            </div>
            <p *ngIf="employee.has_vehicle === 1"><span>Automunito: </span><span style="color: green;">✔</span></p>
            <p *ngIf="employee.has_vehicle !== 1"><span>Automunito: </span><span style="color: rgb(202, 8, 8);">✘</span>
            </p>
          </div>
          <!--Address-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-map-marker" style="font-size: 17px;"></i>
            </div>
            <p><span>Domicilio:</span> {{employee.address}}</p>
          </div>
          <!--RAL-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-eur" style="font-size: 17px;"></i>
            </div>
            <p><span>RAL richiesta: </span>
              <span
                style="background-color: #fab7169e; color: #292929; padding: 2px; border-radius: 3px;">{{employee.requested_ral
                |
                currency: 'EUR'}}
              </span>
            </p>
          </div>
          <!--Category-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-id-card" style="font-size: 13px;"></i>
            </div>
            <p *ngIf="employee.protected_category === 1"><span>Categoria protetta: </span><span
                style="color: green;">✔</span>
            </p>
            <p *ngIf="employee.protected_category !==1"><span>Categoria protetta: </span><span
                style="color: rgb(202, 8, 8);">✘</span>
            </p>
          </div>

          <!--notes-->
          <div class="icon-data">

            <p><span>Notes:</span> {{employee.notes}}</p>
          </div>
        </div>
      </div>

      <div class="skills">

        <!--General Skills-->
        <h5>Skills Generali</h5>
        <div class="icon-data-container">
          <div class="icon-data">
            <!--Client-->
            <div class="icon-bg">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <p><span>Soft Skills:</span> {{employee.soft_skills}}</p>
          </div>
          <!--Final Client-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-building" aria-hidden="true"></i>
            </div>
            <p><span>Hard Skills:</span> {{employee.hard_skills}}</p>
          </div>
          <!--eng-->
          <div class="icon-data">
            <div class="icon-bg">
              <i class="fa fa-language" aria-hidden="true"></i>
            </div>
            <p><span>Inglese: </span>
              <span *ngIf="employee.english == 1" style="font-weight: 400;">Base</span>
              <span *ngIf="employee.english == 2" style="font-weight: 400;">Intermedio</span>
              <span *ngIf="employee.english == 3" style="font-weight: 400;">Avanzato</span>
          </div>
        </div>
        <!-- Specific Skills-->
        <h5>Skills Specifiche</h5>

        <div class="icon-data-container">



          <!-- ITSM -->
          <div class="skill-row">
            <span>ITSM:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.itsm >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.itsm >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.itsm >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- Active Directory -->
          <div class="skill-row">
            <span>AD:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.ad >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.ad >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.ad >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- Office -->
          <div class="skill-row">
            <span>Office:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.office >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.office >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.office >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- Network -->
          <div class="skill-row">
            <span>Network:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.network >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.network >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.network >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- MDM -->
          <div class="skill-row">
            <span>MDM:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.mdm >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.mdm >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.mdm >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- Hardware -->
          <div class="skill-row">
            <span>HW:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.hw >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.hw >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.hw >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>

          <!-- Software -->
          <div class="skill-row">
            <span>SW:</span>
            <div class="dots">
              <div class="point" [ngClass]="employee.sw >= 1 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.sw >= 2 ? 'full' : 'empty'"></div>
              <div class="point" [ngClass]="employee.sw >= 3 ? 'full' : 'empty'"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>