.background {
  background-image: url("../../../../assets/images/pexels-diva.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-div {
  width: 35%;
  //background-image: url("../../../../assets/images/pexels-padrinan-255379.jpg");
  background-color: rgb(0 157 220 / 95%);
  background-position: center;
  background-size: cover;
  border-radius: 15px 0 0 15px;
}
.right-div {
  width: 55%;
  border-radius: 0 15px 15px 0;
}

.left-logo-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  span {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
  }
  img {
    width: 85%;
  }
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  input {
    margin-top: 3px;
    padding: 10px 7px 3px 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
}

.register-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 20px 0;
  font-size: 14px;

  p {
    margin-bottom: 0;
    margin-right: 10px;
  }

  button {
    border: none;
    background-color: transparent;
    color: #dd0555;
    border-bottom: 1px solid #dd0555;
    padding: 0;
    margin-left: 5px;
  }
}

.login-text {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 500;
}

form div label {
  margin: 0 0 0 3px;
  font-size: 15px;
  color: #001d28;
}

form div input::placeholder {
  font-weight: 100;
  font-size: 13px;
  color: grey;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue_button {
  background-color: #009ddc;
  color: #fff;
  border: none;
  margin-top: 30px;
}

.blue_button:hover {
  border: none;
  background-color: #005374;
}

.logo-everience {
  width: 120px;
}

.password-input button {
  border-radius: 0 5px 5px 0;
  border: 1px solid #cccccccc;
  margin-left: -1px;
  z-index: 1;
  padding: 8px 10px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.password-input input {
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
}

.password-register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  .forgot-password {
    color: #005374;
    border: 1px solid #005374;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    background-color: transparent;
    padding: 7px;
    cursor: pointer;
    width: 100%;
  }

  .already-registered-container {
    width: 102%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }

  .already-registered-container span {
    font-size: 13px;
    color: #001d28;
  }

  .already-registered-container button {
    border: none;
    background-color: transparent;
    color: #dd0555;
    border-bottom: 1px solid #dd0555;
    padding: 1px;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
  }
}

.text-danger__login {
  background-color: #ffffffad;
  padding: 5px 10px 5px 10px;
  font-weight: 500;
  border: #690b0b 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  width: 90%;
}

.email-popup {
  background-color: #ffffffad;
  margin-top: 6px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 10px;
  font-weight: 500;
  border: #009ddc 1px solid;
  color: #005374 !important;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

.login-btn {
  margin: 15px 0 10px 0;
}
