.all-menues-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.menu {
  height: 100vh;
  width: 170px;
  background-color: #014661;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 9px 0px 32px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 0px 32px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 0px 32px -19px rgba(0, 0, 0, 0.75);
  .menu-item {
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    background-color: #013448;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #021f2b;
    }
  }
}

.sub-menu {
  height: 100vh;
  width: 100px;
  background-color: #0a739c;
  display: flex;
}
