<main>
  <div class="header">
    <h2 class="h2">Contratti</h2>
    <div class="input-button-container">
      <input type="text" placeholder="Search by any value" [(ngModel)]="searchTerm" (input)="applyFilter()" />

    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="unique_speaking_code">
      <th mat-header-cell *matHeaderCellDef> Codice </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)">
        <span class="role-chip">
          {{
          contract.unique_speaking_code }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="company_name">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)"> {{
        contract.company_name }} </td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef> Data Inizio </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)"> {{
        contract.start_date | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef> Data Fine </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)"> {{ contract.end_date | date:
        'dd/MM/yyyy'
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contract_typology">
      <th mat-header-cell *matHeaderCellDef> Tipologia di contratto </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)"> {{
        contract.contract_typology }} </td>
    </ng-container>

    <ng-container matColumnDef="activity_description">
      <th mat-header-cell *matHeaderCellDef> Descrizione Attività </th>
      <td mat-cell *matCellDef="let contract" (click)="openDetailedView(contract.id)"> {{
        contract.activity_description }} </td>
    </ng-container>


    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef> Archivia </th>
      <td mat-cell *matCellDef="let contract" (click)="openConfirmDialog()">
        <i class="material-icons">archive</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</main>