main {
  margin-top: 20px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 15px;
  max-height: 75%;
}
td {
  cursor: pointer;
  i {
    color: #dd0555;
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-image {
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
