.btns-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px !important;
  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #009ddc;
    background-color: #fff;
    color: #009ddc;
    border-radius: 7px;
    padding: 5px 15px 3px;
    margin: 0 5px;
    transition: all 0.2s;
    i {
      font-size: 21px;
      margin-left: 8px;
      margin-bottom: 5px;
    }
    &.selected {
      background-color: #009ddc; /* selezionato */
      color: #fff;

      i {
        color: #fff;
      }
    }
    &:hover {
      border: 1px solid #009ddc;
      background-color: #fff;
      color: #009ddc;
      cursor: pointer;
      i {
        color: #009ddc;
      }
    }
  }
}

input.flash {
  border-color: 2px solid #dd0555;
  background-color: #bda1ab;
  transition: background-color 0.5s ease;
}

.confirm-bttns-container {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #009ddc;
    color: #fff;
    border-radius: 7px;
    padding: 10px 5px;
    margin: 0 5px;
    transition: all 0.2s;
    &:hover {
      border: 1px solid #009ddc;
      background-color: #fff;
      color: #009ddc;
      cursor: pointer;
    }
  }
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px;
  font-weight: 400;
}

.modal {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rows {
  margin-bottom: 20px !important;
}
.backfill-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pnl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backfill-form {
  width: 95%;
}

input.flash {
  border-color: 2px solid #dd0555;
  background-color: #bda1ab;
  transition: background-color 0.5s ease;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  .container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    div {
      display: flex;
      flex-direction: column;
      //width: 32%;
      label {
        margin-bottom: 5px;
      }
      input {
        width: 100%;
        padding: 7px 5px 7px 2px;
        border: 1px solid rgba(128, 128, 128, 0.5294117647);
        border-radius: 5px;
      }
      select {
        width: 100%;
        padding: 7px 5px 7px 2px;
        border: 1px solid rgba(128, 128, 128, 0.5294117647);
        border-radius: 5px;
      }
    }
  }
}

.action-btn-container {
  width: 5%;
  label {
    margin-bottom: 3px;
    text-align: center;
    color: transparent;
  }
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.extra-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    width: 20%;
    select {
      width: 100%;
      padding: 7px 5px 7px 2px;
      border: 1px solid rgba(128, 128, 128, 0.5294117647);
      border-radius: 5px;
    }
  }
}
