main {
  display: flex;
  flex-direction: row;

  .view-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
  }
}
