.error-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  span {
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    background-color: #dd05545d;
    color: #74042d;
    padding: 1px 5px;
    border-radius: 3px;
  }
}
