main {
  margin-top: 20px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    label {
      margin-bottom: 5px;
    }
  }
}
input,
select {
  padding: 10px 5px;

  border: none;
  background-color: rgba(239, 238, 238, 0.6117647059);
  border-bottom: 1px solid grey;
  border-radius: 7px 7px 0 0;
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  width: 100%;
}
input:focus,
select:focus {
  border: 2px solid #009ddc !important;
  background-color: transparent;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
  width: 90%;
  button {
    margin-left: 15px;
    background-color: #009ddc;
    color: #fff;
    width: 165px;
  }
  button:hover {
    border: 1px solid #009ddc;
    background-color: #fff;
    color: #009ddc;
  }
}
