section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .theme-toggle {
      margin: 20px;
      button {
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
      }
      .sun-background {
        background-color: rgb(65, 158, 189);
      }
      .moon-background {
        background-color: #344e5d;
      }
    }
  }
  .main-content {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sections-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card {
      width: 350px;
      height: 380px;
      margin: 0 30px;
      //background: var(--card-bg, #ffffff); // Light/Dark mode adaptable

      background-position: center;
      background-size: cover;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      }
      span {
        background-color: #ffffffce;
        color: #555;
        font-size: 20px;
        padding: 7px 12px;
        border-radius: 5px;
      }
    }

    .card-icon {
      width: 110px;
      object-fit: contain;
    }

    .card-title {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
      color: var(--text-color, #333);
    }
  }
}
