<main>
  <div>
    <span class="img-title-container">
      <img src="../../../../assets/logo.png" alt="Logo" class="logo_everience">
      <h1>Registrazione effettuata</h1>
    </span>
    <span class="text-container">
      <p style="margin-top: 20px;">
        La tua registrazione è avvenuta con successo e il tuo account è in attesa di approvazione da parte di un
        amministratore.
      </p>
      <p>
        Ti avviseremo quando potrai accedere al gestionale.
      </p>
      <p class="last">
        Grazie.
      </p>
    </span>
  </div>
</main>