main {
  display: flex;
  flex-direction: row;

  .view-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.81);
  }
}
.progression {
  padding: 2px 7px;
  border-radius: 15px;
  color: #fff;
}
.low {
  background-color: rgb(10, 141, 10);
  button {
    display: none;
    i {
      display: none;
    }
  }
}
.medium {
  background-color: #fab716;
  button {
    display: none;
    i {
      display: none;
    }
  }
}
.high {
  background-color: #dd0529;
  button {
    i {
      color: white;
      font-size: 14px;
    }
  }
}
