// Light Theme
$light-background: #ffffff;
$light-text: #333333;
$light-primary: #1976d2;
$light-secondary: #424242;

// Dark Theme
$dark-background: #344e5d;
$dark-text: #ffffff;
$dark-primary: #90caf9;
$dark-secondary: #4482a5;

// Shared styles for both themes
$border-radius: 5px;

// Light theme colors
$light-bg: white;
$light-text: black;
$light-card-bg: #f8f9fa;
$light-title-color: #333;
$light-menu: #eaeaea;

// Dark theme colors
$dark-bg: #121212;
$dark-text: white;
$dark-card-bg: #333;
$dark-title-color: #ccc;
$dark-menu: #1976d2;
// Add other color variables if needed
$primary-color: #007bff;
$secondary-color: #6c757d;
