main {
  width: 100%;
  max-height: calc(100% - 70px);
  overflow-x: auto;

  flex-grow: 1;
  overflow-y: auto;
}
.content-box {
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin-top: 50px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    label {
      margin-bottom: 5px;
    }
  }
}
input,
select {
  padding: 10px 5px;

  border: none;
  background-color: #efeeee9c;
  border-bottom: 1px solid grey;
  border-radius: 5px 5px 0 0;
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  width: 80%;
}
input:focus {
  border: 2px solid #009ddc !important;
  background-color: transparent;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  width: 95%;
  button {
    margin-left: 15px;
    background-color: #009ddc;
    color: #fff;
    width: 165px;
  }
  button:hover {
    border: 1px solid #009ddc;
    background-color: #fff;
    color: #009ddc;
  }
}
.all-action-buttons {
  width: 150px;
}

.pnl-container {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  h3 {
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;
  }

  .pnl-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.8rem;
    column-gap: 1.5rem;

    .pnl-row {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      padding: 0.5rem 0.8rem;
      border-radius: 8px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

      .label {
        font-weight: 500;
        color: #555;
      }

      .value {
        font-weight: 600;
        color: #111;
      }
    }
  }
}
