// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$everience-crm-primary: mat.define-palette(mat.$indigo-palette);
$everience-crm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$everience-crm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$everience-crm-theme: mat.define-light-theme(
  (
    color: (
      primary: $everience-crm-primary,
      accent: $everience-crm-accent,
      warn: $everience-crm-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($everience-crm-theme);

@import "styles/themes";
@import "font-awesome/css/font-awesome.min.css";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/*light theme styles */
body.light-theme {
  background-color: $light-background;
  color: black;
}

.all-menues-container.light-theme {
  background-color: $light-menu;
  color: black;
}

h1 h2 h3 p.light-theme {
  color: black;
}
/*Dark theme styles */
body.dark-theme {
  background-color: $dark-background;
  color: white;
}

.all-menues-container.dark-theme {
  background-color: $dark-menu;
  color: black;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Lists styles (header): -applies on lead/opportunity/request
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .h2 {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
    span {
      color: #dd0555;
      font-weight: 600;
    }
  }

  .input-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    input {
      padding: 5px;
      width: 210px;
      border-radius: 5px;
      border: 0.5px solid #9dbac6;
      outline: none;
    }
    input[type="text"]:focus {
      border: 1px solid #009ddc;
    }
    .add-button {
      margin-left: 15px;
      background-color: #009ddc;
      color: #fff;
      font-size: 28px;
      border: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .convert-button {
      margin-left: 15px;
      background-color: #009ddc;
      color: #fff;
    }
    .convert-button:hover {
      background-color: #fff;
      border: 1px solid #009ddc;
      color: #009ddc;
    }
  }
}

//Mat Table styles -applies on lead/opportunity/request
td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

tr:hover td {
  background-color: #ecf4f860;
  cursor: pointer;
}

.role-chip {
  background-color: #fab716;
  color: #fff;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 13px;
  margin-bottom: 15px;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.all-action-buttons {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;

  cursor: pointer;
  width: 130px;
}

//MODALS styles
.modal-container, .modal-edit-container, .modal-skills-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h2 {
      font-size: 25px;
      font-weight: 400;
      text-align: center;
    }
    .container {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }
    .rows {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;
     
      div {
        display: flex;
        flex-direction: column;
        //width: 32%;
        label {
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          padding: 7px 5px 7px 2px;
          border: 1px solid rgba(128, 128, 128, 0.5294117647);
          border-radius: 5px;
        }
        select {
          width: 100%;
          padding: 7px 5px 7px 2px;
          border: 1px solid rgba(128, 128, 128, 0.5294117647);
          border-radius: 5px;
        }
      }
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      &:first-child {
        background: transparent;
        border: 1px solid #009ddc;
        color: #009ddc;
      }
      &:first-child:hover {
        background: #009ddc;
        color: #fff;
      }

      &:last-child {
        background: #009ddc;
        color: #fff;
        margin-left: 20px;
      }
      &:last-child:hover {
        border: 1px solid #009ddc;
        background-color: #fff;
        color: #009ddc;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

//edit detail styles
.enabled-input .rows div input,
.enabled-input .rows div select {
  background-color: rgba(179, 203, 221, 0.79);
}
.enabled-input .rows div input:hover,
.enabled-input .rows div select:hover {
  cursor: pointer;
}

.disabled-input .rows div input,
.disabled-input .rows div select {
  background-color: rgba(128, 128, 128, 0.18);
  color: rgb(52, 51, 51);
}

.disabled-input .rows div input:hover,
.disabled-input .rows div select:hover {
  cursor: not-allowed;
}
