main {
  margin-top: 30px;
  .header {
    background-color: #014661ed;
    border-radius: 7px 7px 0 0;
    padding: 0 10px;
    color: #fff;
  }
  .no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    img {
      width: 115px;
    }
    p {
      font-size: 16px;
      color: grey;
    }
  }
}

td {
  cursor: pointer;
}
