main {
  width: 100%;
  max-height: calc(100% - 70px);
  overflow-x: auto;
  flex-grow: 1;
  overflow-y: auto;
}
.content-box {
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .img-container {
    margin: 30px 0px;
    img {
      width: 250px;
    }
  }
  .divider {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.368627451);
    height: 1px;
    position: relative;
    margin-top: 20px;
  }
  .company {
    font-size: 20px;
    color: #fff;
    background-color: #009ddc;
    height: 25px;
    border-radius: 7px;
    padding: 10px 100px;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    position: relative;
    top: -23px;
  }
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin-top: 50px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: row;
    span {
      margin-right: 5px;
      font-weight: 500;
      font-size: 18px;
      color: #013448;
    }
    .description {
      background-color: #fab61656;
      padding: 7px 20px;
      font-size: 16px;
    }
  }
}
input {
  padding: 20px 15px 0 3px;
  border: none;
  background-color: rgba(239, 238, 238, 0.6117647059);
  border-bottom: 1px solid grey;
  border-radius: 7px 7px 0 0;
  gap: 10px;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  width: 95%;
  button {
    margin-left: 15px;
    background-color: #009ddc;
    color: #fff;
    width: 155px;
  }
  button:hover {
    border: 1px solid #009ddc;
    background-color: #fff;
    color: #009ddc;
  }
}
.add-button {
  margin-left: 15px;
  margin-right: 22px;
  background-color: #009ddc;
  color: #fff;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  i {
    font-size: 19px;
  }
}

//contract sections styles
.section {
  width: 95%;
  margin-bottom: 25px;
  h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 30px;
  }
  h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
    border-bottom: 2px solid #009ddc;
    padding-bottom: 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    div {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        color: #013448;
        margin-bottom: 4px;
      }

      span,
      .muted {
        font-weight: 400;
        color: #333;
      }

      .muted {
        color: grey;
        font-style: italic;
      }
    }
  }

  .description-box {
    background-color: #fab61656;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
  }
}
