main {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .table-container {
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 20px;
  }
  table {
    min-width: 100%;
  }
}

tr:hover td {
  cursor: default !important;
}
td {
  .unavalaible {
    font-style: italic;
    color: #666;
  }
  i {
    cursor: pointer;
    color: #057ead;
  }
  i:hover {
    cursor: pointer;
    font-size: 27px;
  }
}
